@model IEnumerable<Omadiko.Entities.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (@Html.BeginForm("Index", "Student"))
{@Html.TextBox("SearchFirstName", null)
<input type="submit" name="name" value="" />
} 


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("FirstName","Index","Student",new { SortOrder = ViewBag.NAME },null)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
            </td>
        </tr>
    }

</table>
