@model Omadiko.Entities.Models.Marble
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout/_CrexisPortofolio.cshtml";
}

<div class="providerView" style="color:#ffffff !important;">
    <!-- Page Header - litle-header or bigger-header - soft-header, dark-header or backgroundx -->
    <div>
        <section id="page-header" style="padding: 1px;">
            <!-- Page Header Inner -->
            <div class="page_header_inner clearfix dark antialiased">
            </div>
        </section>
    </div>
    <!-- End #page-header -->
    <!-- Shop Section -->
    <section id="shop">
        <div class="single_item_details clearfix boxed">
            <!-- Slider -->
            <div class="left image-pgn-slider f-left">
                <!-- Sliders -->
                <ul class="slides mp-gallery">
                    <li data-thumb=@Html.DisplayFor(model => model.Photo.Url)>    @*<==================*@
                        <a href=@Html.DisplayFor(model => model.Photo.Url)>        @*<=============*@
                            <img src="@Url.Content(Model.Photo.Url)" />
                           
                        </a>
                    </li>
                </ul>
                <!-- Label -->
            </div>
            <!-- Right, Details -->
            <div class="right dark f-left" style=" color: #ffffff !important; ">
                <h4 class="single_item_header no-padding" style="font-size:24px;">
                    @Html.DisplayFor(model => model.Name)
                </h4>
                <span class="strip"></span>
                <div>
                    <strong>Color: </strong>
                    @Html.DisplayFor(model => model.Color)
                </div>
                <span class="strip mb-20"></span>
                <div class="CompanyDescription">
                    <p class="description light no-padding" style="color:#ffffff !important;">
                        @Html.DisplayFor(model => model.MarbleDescription)
                    </p>
                </div>
                <span class="strip"></span>
                <!-- End List  -->
                <!-- Form -->
                <div class="buttonSection" style="display: flex; ">

                    <!-- Input -->
                    @using (Html.BeginForm("LikeAddToList", "Marble", new { marbleId = Model.MarbleId, userId = User.Identity.GetUserId() }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger">Add to Favourite</button>
                    }
                    @*<a href="#" class="uppercase cart-button">
                            Add to Favourite
                        </a>*@

                    <form method="post" action="#" class="light-form">
                        @*<button id="BtnProviders" style="color:black;">Find Providers</button>*@
                        @*<a href="#" id="BtnProviders" class="uppercase cart-button">
                                Find Providers   class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Modal"
                            </a>*@
                        <button id="BtnProviders" class="uppercase cart-button" style="color: black; margin-left: 15px; margin-top:-12px; padding: 13px; color: white; background-color: #505050; border: none;">
                            Find Providers
                        </button>
                    </form>
                </div>
            </div><!-- End Right -->
        </div><!-- End Details -->
        <!-- Tabs -->
        <div class="boxed related-products">
            <h4 class="light">
                Relative Marble
            </h4>
            <span class="strip mb-20"></span>
            <!-- Boxes -->
            <!--<div class="boxes box-carousel-dragable four-items clearfix">-->
            <div class="collection">
                <!-- Box -->
                <div class="marbleCollection" style="display: grid; grid-template-columns: repeat(4, 1fr); ">
                    @foreach (var marble in @ViewBag.RelativeMarble)
                    {

                        <a href="~/marble/details/@marble.MarbleId">

                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 20px; ">
                                <div>
                                    <img width="277" height="166.2" src=@Url.Content(marble.Photo.Url) />
                                </div>
                                <div style="width: 277px; height: 50px; border: 1px solid; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                    <p>@marble.Name</p>
                                </div>
                            </div>


                        </a>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Shop -->
    <!-- Page Note Type 2 -->
    <section class="page-note type-2 dark-note">
        <!-- Note -->
        <h4 class="italic t-center normal antialiased">
            <i class="fa fa-quote-left colored"></i>
            Find the most suitable marble for your business and our Portal will give you access to their providers
            <i class="fa fa-quote-right colored"></i>
        </h4>
    </section>
    <!-- End Page Note Type 2 -->
</div>
<div id="Modal" class="modal">
    <div class="modal-content" style="border: 0.5px solid; border-color: white; border-radius: 5px;">
        <div id="providerOfMarble" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p style="font-size: 24px; color:#ffffff;">Providers of @Html.DisplayFor(model => model.Name)</p>
            <span class="close" style="position:relative; ">&times;</span>
        </div>
        <div id="ButtonArea"> 
            @foreach (var provider in @ViewBag.ProvidersOfMarble)
            {
                <button id="@provider.ProviderId" value="@provider.ProviderId" style="width:90%; height: 100%; background-color: #222222; margin-top:10px; border:none; border-radius:5px;">
                    <div id="BtnProviderInside" style="display:flex; border:0.5px solid; border-color:white; border-radius:5px; width:100%;">
                        <img src="@Url.Content(provider.CompanyPhoto)" style="width:100px; height:100px;" />
                        <p style="position:relative; top:70px; left:15px; font-size:18px;">@provider.CompanyTitle</p>
                    </div>
                </button>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        var modal = document.getElementById("Modal");

        var btn = document.getElementById("BtnProviders");

        var span = document.getElementsByClassName("close")[0];

        $("#ButtonArea").on('click', 'button', function (e) {
            var btnid = $(this).attr('id');
            setTimeout(function () { window.location.href = "https://localhost:44363/Provider/Details/" + btnid },200);
        })

        btn.onclick = function () {
            modal.style.display = "flex";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.querySelector('#BtnProviders').addEventListener('click', function (event) {
            event.preventDefault();
        });

    </script>
}
