@model Omadiko.Entities.Models.Marble

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout/_CrexisPortofolio.cshtml";
}

<div class="providerView" style="background-color:#151515; color:#ffffff !important;">
    <!-- Page Header - litle-header or bigger-header - soft-header, dark-header or backgroundx -->
    <div>
        <section id="page-header" style="padding: 1px;">
            <!-- Page Header Inner -->
            <div class="page_header_inner clearfix dark antialiased">
            </div>
        </section>
    </div>
    <!-- End #page-header -->
    <!-- Shop Section -->
    <section id="shop">
        <div class="single_item_details clearfix boxed">
            <!-- Slider -->
            <div class="left image-pgn-slider f-left">
                <!-- Sliders -->
                <ul class="slides mp-gallery">
                    <li data-thumb=@Html.DisplayFor(model => model.Photo.Url)>
                        <a href=@Html.DisplayFor(model => model.Photo.Url)>
                            <img src=@Html.DisplayFor(model => model.Photo.Url) />
                        </a>
                    </li>
                </ul>
                <!-- Label -->
            </div>
            <!-- Right, Details -->
            <div class="right dark f-left" style=" color: #ffffff !important; ">
                <h4 class="single_item_header no-padding" style="font-size:24px;">
                    @Html.DisplayFor(model => model.Name)
                </h4>
                <span class="strip"></span>
                <div>
                    <strong>Color: </strong>
                    @Html.DisplayFor(model => model.Color)
                </div>
                <span class="strip mb-20"></span>
                <div class="CompanyDescription">
                    <p class="description light no-padding" style="color:#ffffff !important;">
                        @Html.DisplayFor(model => model.MarbleDescription)
                    </p>
                </div>
                <span class="strip"></span>
                <!-- End List  -->
                <!-- Form -->
                <div class="buttonSection" style="display: flex; ">
                    <form method="post" action="#" class="light-form">
                        <!-- Input -->
                        <a href="#" class="uppercase cart-button">
                            Add to Favourite
                        </a>
                    </form>
                    <form method="post" action="#" class="light-form">
                        @*<button id="BtnProviders" style="color:black;">Find Providers</button>*@
                        @*<a href="#" id="BtnProviders" class="uppercase cart-button">
                                Find Providers   class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Modal"
                            </a>*@
                        <button id="BtnProviders" class="uppercase cart-button" style="color: black; margin-left: 15px; margin-top:-12px; padding: 13px; color: white; background-color: #505050; border: none;">
                            Find Providers
                        </button>
                    </form>
                </div>
            </div><!-- End Right -->
        </div><!-- End Details -->
        <!-- Tabs -->
        <div class="boxed related-products">
            <h4 class="light">
                Relative Marble
            </h4>
            <span class="strip mb-20"></span>
            <!-- Boxes -->
            <!--<div class="boxes box-carousel-dragable four-items clearfix">-->
            <div class="collection">
                <!-- Box -->
                <div class="marbleCollection" style="display: grid; grid-template-columns: repeat(4, 1fr); ">
                    @foreach (var marble in @ViewBag.RelativeMarble)
                    {
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 20px; ">
                            <div style="margin-right:20px; margin-bottom:5px;">
                                <img width="277" src=@marble.Photo.Url />
                            </div>
                            <div>
                                <p>@marble.Name</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Shop -->
    <!-- Page Note Type 2 -->
    <section class="page-note type-2 dark-note">
        <!-- Note -->
        <h4 class="italic t-center normal antialiased">
            <i class="fa fa-quote-left colored"></i>
            Find the most suitable marble for your business and our Portal will give you access to their providers
            <i class="fa fa-quote-right colored"></i>
        </h4>
    </section>
    <!-- End Page Note Type 2 -->
</div>
<div id="Modal" class="modal">
    <div class="modal-content" style="border: 0.5px solid; border-color: white; border-radius: 5px;">
        <div id="providerOfMarble" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p style="font-size: 24px; color:#ffffff;">Providers of @Html.DisplayFor(model => model.Name)</p>
            <span class="close" style="position:relative; ">&times;</span>
        </div>
        <div>
            @foreach (var provider in @ViewBag.ProvidersOfMarble)
            { 
                <button id="BtnProvider" value="@provider.ProviderId" style="width:90%; height: 100%; background-color: #222222; margin-top:10px; border:none; border-radius:5px;">
                    <div id="BtnProviderInside" style="display:flex; border:0.5px solid; border-color:white; border-radius:5px; width:100%;">
                        <img src="@provider.CompanyPhoto" style="width:100px; height:100px;" />
                        <p style="position:relative; top:70px; left:15px; font-size:18px;">@provider.CompanyTitle</p>
                    </div>
                </button>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        var modal = document.getElementById("Modal");

        // Get the button that opens the modal
        var btn = document.getElementById("BtnProviders");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        var BtnProvider = document.getElementById("BtnProvider");

        var BtnProviderInside = document.getElementById("BtnProviderInside");

        // When the user clicks the button, open the modal

        BtnProvider.onclick = function () {
            BtnProviderInside.style.backgroundColor = "#808080";
            var firedButton = $("#BtnProvider").val();
            location.href = "https://localhost:44363/Provider/Details/" + firedButton;
            console.log("Button pressed");
        }

        btn.onclick = function () {
            modal.style.display = "flex";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.querySelector('#BtnProviders').addEventListener('click', function (event) {
            event.preventDefault();
        });

    </script>
}
