<div style="background-color:lightgray;">
    @model IEnumerable<Omadiko.Entities.Models.Marble>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Providers)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo.Url)
            </td>
            <td>
                <ul>
                    @foreach (var provider in item.Providers)
                    {
                        <li>@provider.CompanyTitle</li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MarbleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MarbleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MarbleId })
            </td>
        </tr>
    }

</table>
</div>