@model IEnumerable<Omadiko.Entities.Models.Marble>

@{
    ViewBag.Title = "ShowMarbles";
}



<style>



    div.body{

        background-color:rgba(152, 126, 126, 0.78)
    }


    div.home__card {
        max-width: 100%;
        width: 300px;
        height: auto;
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;
        float: none;
        display: block;
        clear: both;
            cursor: pointer;
    }




</style>









<div class="body" >


    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="home__title"><b>ShowMarbles</b> </h3>
            </div>
        </div>
    </div>

    @foreach (var marble in Model)
    {

        <div class="home__card">
            
            <a href="~/Views/Marble/Details.cshtml">
                <img src=@marble.Photo.Url alt="" >
                @Html.ActionLink("Details", "MarbleDetails", new { id = marble.MarbleId })

                <span>@marble.Name</span>
                <span>@marble.Country.Name</span>
            </a>

            <div>
               







                <!--<ul>

                    <li>@marble.Country.Name</li>-->      @*To afino prow to paron lista giati den ksero akoma ti allo ua valoume.*@
                    @*An den valoume kati allo min to exoume lista*@
                <!--</ul>-->
            </div>





        </div>


    }


</div>













@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo.PhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Photo.PhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MarbleId }) |
                @Html.ActionLink("Details", "Details", new { id=item.MarbleId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MarbleId })
            </td>
        </tr>
    }

    </table>*@
