@model IEnumerable<Omadiko.Entities.Models.Marble>

@{
    ViewBag.Title = "ShowMarbles";
}

@*<h2>ShowMarbles</h2>*@


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="home__title"><b>ShowMarbles</b> </h1>
        </div>
    </div>
</div>

@foreach (var marble in Model)
{

<div class="home__card">

    <a href="/Marble/ShowMarblesDetails/@marble.MarbleId">
        <img src=@marble.Photo.Url alt="">        
    </a>

    <div>
        <h2>@marble.Name</h2>
        <ul>
            
            <li>@marble.Country.Name</li>      @*To afino prow to paron lista giati den ksero akoma ti allo ua valoume.*@
                                                @*An den valoume kati allo min to exoume lista*@
        </ul>
    </div>

</div>

}













@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo.PhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Photo.PhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MarbleId }) |
                @Html.ActionLink("Details", "Details", new { id=item.MarbleId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MarbleId })
            </td>
        </tr>
    }

    </table>*@
