<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <title>Crexis Multipurpose One/Multi Page HTML Theme</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Favicon -->

    <link rel="icon" type="image/png" href="../Content/images/favicon.png" />


    <!-- CSS Files -->
    @Styles.Render("~/Content/CrexisCss")
    <!--#<!-- #region BACK UP FOR CSS  -->
    @* Page Styles*@
    @*<link rel="stylesheet" href="../Content/css/style.css" />
        <link rel="stylesheet" href="../Content/css/backgrounds.css" />
        <link rel="stylesheet" href="../Content/css/responsive.css" />*@
    <!-- #endregion -->
    <!-- End Page Styles -->
    <!-- Page Layout Color, night or dark -->
    <link id="changeable_tone" rel="stylesheet" href="../Content/css/page_tones/dark.css" />
    <!-- End Page Layout Color -->
    <!-- Page Elements Color -->
    <link id="changeable_color" rel="stylesheet" href="../Content/css/colors/red.css" />
    <!-- End Page Elements Color -->
    <!-- Page Fonts / Pacifico-->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- Raleway-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,,200,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Oswald-->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

    <!-- End CSS Files -->

</head>

<!-- Body Start -->
<body class="parallax dark-layout" style="background-color:#222222;">


    <!-- Social Media -->
    @Html.Partial("Navbar/_SocialMedia")
    <!-- End Social Media -->
    <!-- Navigation - select your nav color - dark-nav or white-nav -->
    @Html.Partial("Navbar/_CrexisNavbar")
    <!-- End Nav -->



    @RenderBody()



    <!-- Footer -->
    @Html.Partial("Footer/_CrexisFooter")
    <!-- End Footer -->
    <!-- JS Files -->
    @Scripts.Render("~/bundles/lib")
    @*@RenderSection("ProviderJavascript", required: false)*@
    @RenderSection("scripts", required: false)

</body>
<!-- Body End -->
</html>
