
<style>

    #loginLink {
        color: #f0f0f0;
        text-decoration: none;
    }

/*        .strip_button:hover {
            background-color: transparent !important;
        }*/

/*    .btn-success {
        background-color: #151;
        border: 1px solid #f0f0f0;
        border-radius: 30px;
        padding: 15px;
        display: flex;
        width: 400px;
        margin: auto;
    }*/

    .strip_button {
        background-color: #151;
        border: 1px solid #f0f0f0;
        border-radius: 30px;
        width: 400px;
        margin: auto;
        color:#f0f0f0;
    }

</style>



@Html.Partial("HomePage/HomeSection");  @*ΕΔΩ ΕΧΟΥΜΕ ΤΟ VIDEO*@

@*@Html.Partial("HomePage/FunFacts");*@                           @*ΕΧΟΥΜΕ ΤΟ LOGIN KAI ΑΝ ΕΙΝΑΙ ΚΑΙ ΣΥΝΟΛΟ MARBLES-PROVIDERS-USERS*@


@*<button class="strip_button light block"><a href="/Account/Login" id="loginLink" >Log in</a></button>*@


@*@Html.Partial("HomePage/FeaturesSection");*@  @*  Συγκεντρωτικά στοιχεία από providers, clients, marble και σκατα*@


@*@Html.Partial("HomePage/Testimonials");*@  <!-- Testimonials ΘΑ ΓΙΝΕΙ CALL TO ACTION ΓΙΑ ΝΑ ΓΡΑΦΤΕΙΣ ΣΤΟ PORTAL [https://marbleguide.com/]-->




@*@Html.Partial("HomePage/TeamSection");*@         @*ΕΔΩ ΘΑ ΒΑΛΟΥΜΕ ΤΙΣ ΦΩΤΟ ΜΑΣ ΚΑΙ 2-3 ΛΟΓΙΑ ΓΙΑ ΜΑΣ*@

@*@Html.Partial("HomePage/ContentWithImage");*@   @*ΑΧΡΗΣΤΟ*@

@Html.Partial("HomePage/PortfolioSectionMarble");  @*ΓΙΑ MARBLE*@

@*@Html.Partial("HomePage/PortfolioSectionProvider");*@ @*ΓΙΑ PROVIDER*@

@*@Html.Partial("HomePage/FeaturedWorksWithTestimonialsSlider");*@      @*MOY ARESEI GIA NA TO XRHSIMOPOIHSOYME KAPOU*@  @*TELIKA AXRHSTO*@

@*@Html.Partial("HomePage/FeaturedWorksSection");*@                    @*AXRHSTO*@

@*@Html.Partial("HomePage/PageNoteSection");*@                          @*AXRHSTO*@


@*@Html.Partial("HomePage/CategoriesSection");*@         @*POLY XRISIMO ,  moy aresei na valoume kati edo*@

@*@Html.Partial("HomePage/NotesSkillsSection");*@     @*AN THELOUME KATI NA BALOYME ME STATISTIKA DIAFORETIKA AXRHSTO*@

@Html.Partial("HomePage/ClientsSection");         @*EDO MPOROYME NA PROVALOUME TOUS PROVIDERS*@

@*@Html.Partial("HomePage/ClientLogosSection");*@      @*KAI EDO MPOROUME NA PROBALOYME TOUS PROVIDERS - PHOTO*@

@*@Html.Partial("HomePage/NewsFromBlog");*@              @*DEN MOU ARESEI*@

@*@Html.Partial("HomePage/FeaturesWithMobileSection");*@      @*AXRHSTO*@

@Html.Partial("HomePage/AgencyNotes");               @*EXO BALEI TO XARTH EDO*@

@Html.Partial("HomePage/PricingTables");       @*MPOROYME NA BALOUME TIW ETHSIES SYNDROMES-MINIEES KLP*@


