@*@model ICollection<Omadiko.Entities.Models.Provider>*@
@model PagedList.IPagedList<Omadiko.Entities.Models.Provider>
@using PagedList.Mvc

@{
    ViewBag.Title = "ShowAllProviders";
    Layout = "~/Views/Shared/LayOut/_CrexisPortofolio.cshtml";
}

@*<h2>ShowAllProviders</h2>*@


<style>

    #searchbar {
        background-color: #151515;
        color: #f0f0f0;
        border: 1px solid #f0f0f0;
    }

    #searchbar::placeholder {
        color:#f0f0f0;
    }

    .form {
        padding-left: 870px;
        margin-bottom: 30px;
    }

    .btn-primary, .btn-success {
        background-color: #151515;
        border: 1px solid #f0f0f0;
        width: 280px;
        border-radius: 5px;
        opacity:0.9;
    }

    .btn-primary:hover {
        background-color:#808080;
    }

    #pagination {
        color: #f0f0f0;
        opacity: 0.9;
    }
</style>

<!-- Portfolio Section -->
<section id="portfolio" class="container 4-columns-margin single boxed">

    <!-- Filters -->
    <div id="portfolio-filters" class="cbp-l-filters-alignCenter normal type2">

        <!-- Filter -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item" style="background-color:#222222;">
            All
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".graphic" class="cbp-filter-item">
            Graphic
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".design" class="cbp-filter-item">
            Design
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".photography" class="cbp-filter-item">
            Photography
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".web" class="cbp-filter-item">
            Web
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>

    </div>
    <!-- End Filters -->



    <div class="form">
        @using (@Html.BeginForm("ShowAllProviders", "Provider", FormMethod.Get, new { @class = "form-group" }))
        {
            @*<input type="text" id="searchbar"*@
        <input type="text" name="name" value="" @Html.TextBox("CompanyTitle", null, new { @class = "form-control", placeholder = "Search CompanyTitle", type = "search" })
/>

            <input type="text" id="searchbar" @Html.TextBox("Location", null, new { @class = "form-control", placeholder = "Search Country", type = "search" })


            <input type="hidden" name="sortOrder" value=@ViewBag.sortOrder />

            <input type="submit" value="Search Provider" class="btn btn-primary" />

            <input id="ResetButton" type="button" value="Clear Form" class="btn btn-success" />

        }
    <button class="btn-primary">
        @Html.ActionLink("Sorting CompanyTitle (A-Z)", "ShowAllProviders", "Provider", new { sortOrder = ViewBag.FNSP, CompanyTitle = ViewBag.CompanyTitle, Location = ViewBag.Location }, null)
    </button>
    <button class="btn-primary">
        @Html.ActionLink("Sorting Country (A-Z)", "ShowAllProviders", "Provider", new { sortOrder = ViewBag.LNSP, CompanyTitle = ViewBag.CompanyTitle, Location = ViewBag.Location }, null)
    </button>
    </div>


    <!-- Portfolio Items -->
    <div id="portfolio-items" class="fullwidth type2">


        @foreach (var provider in Model)
        {
            <!-- Item -->
            <div class="cbp-item item design">
                <!-- Item Link -->
                <a href="projects/project_01.html" class="cbp-caption ex-link">

                    <!-- Item Image -->
                    <div class="cbp-caption-defaultWrap">
                        <!-- Image Src -->


                        <a href="~/provider/details/@provider.ProviderId">
                            <img src="@Url.Content(provider.CompanyPhoto)" style="width:280px; height:240px" />
                        </a>





                        <!-- Item Note -->
                        <div class="item_icon">
                            <!-- Icon -->
                            <p><i class="fa fa-image"></i></p>
                            <p>1</p>
                        </div>
                        <!-- End Item Note -->
                    </div>
                    <!-- End Item Image -->
                    <!-- Item Details -->
                    <div class="cbp-caption-activeWrap" style="width:367px;">
                        <!-- Centered Details -->
                        <div class="center-details">
                            <div class="details" style="width: 280px; height: 91.8px; padding: 15px; opacity: 0.9; ">
                                <!-- Item Name -->
                                <h2 class="name ">
                                    @Html.DisplayFor(modelItem => provider.CompanyTitle)
                                </h2>
                                <!-- Tags -->
                                <p class="tags">
                                    @Html.DisplayFor(modelItem => provider.Location.Country)
                                </p>
                            </div>
                        </div>
                        <!-- End Center Details Div -->
                    </div>
                    <!-- End Item Details -->
                </a>
                <!-- End Item Link -->
            </div>
            <!-- End Item -->
        }

    </div>
    <!-- End Portfolio Items -->

    <div id="pagination">
        <i>Page</i> @Model.PageNumber <i>of</i> @Model.PageCount
    </div>
    @Html.PagedListPager(Model, x => Url.Action("ShowAllProviders", "Provider", new { page = x}))

</section>
<!-- End Portfolio Section -->
<!-- Page Note Type 2 -->
<section class="page-note type-2 dark-note">
    <!-- Note -->
    <h4 class="italic t-center normal antialiased">
        <i class="fa fa-quote-left colored"></i>
        Technology is part of the fabric of civilization, and you need to jack into it if you haven’t already. Learn the basics and you’ll be a lot happier.
        <i class="fa fa-quote-right colored"></i>
    </h4>
</section>
<!-- End Page Note Type 2 -->


@section ProviderJavascript{
    <script>
        $("#ResetButton").click(function (e) {
            $("#CompanyTitle").val("");
            $("#Location").val("");
        })
    </script>
}








