@model Omadiko.WebApp.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}

<section id="fullscreen" class="background49Neo sdark-bg fullscreen table no-margin">
    <div class="login white v-center t-center">
        @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form login_type t-center pl-10 pr-10 mini-text", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2 class="t-center light mb-20">Add a phone number</h2>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Number, new { @class = "hidden" })
                @Html.TextBoxFor(m => m.Number, new { @class = "strip_form white light block fullwidth op-07", placeholder = "Phone Number" })
            </div>
            <div class="form-group">
                <input type="submit" class="strip_button white light block fullwidth mt-30 colored-bg pt-18" value="Submit" />
            </div>
        }
    </div>

</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
