@model Omadiko.WebApp.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}


<h1 class="t-center light mb-20">
    Profile of @User.Identity.Name
</h1>

<img src="~/Content/images/logo/userphoto.png" />

<div class="t-center light mb-20">
    Username: @User.Identity.Name
    <div class="t-center light mb-20">
        Email: @User.Identity.Name
    </div>
    <div class="t-center light mb-20">
        @Html.DisplayNameFor(x => x.PhoneNumber):
        @Html.DisplayFor(x => x.PhoneNumber)
    </div>

    <h2>Show Liked Marble</h2>
    <ul>
        @foreach (var marble in Model.Marbles)
        {
            <li><img src="@marble.Photo.Url" alt="Alternate Text" /></li>
        }
    </ul>
</div>
    






    <p class="text-success">@ViewBag.StatusMessage</p>

    <div class="login white v-center t-center">
        <h4>Change your account settings</h4>

        <dl class="t-center light mb-20">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            
        </dl>
    </div>

