@model Omadiko.WebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section id="fullscreen" class="background49Neo sdark-bg fullscreen table no-margin">
    <div class="login white v-center t-center">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form login_type t-center pl-10 pr-10 mini-text", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <br />
            <h2 class="t-center light mb-20">@ViewBag.Title.</h2>
            <h4 class="mb-25 white op-08">Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "hidden" })
                @Html.TextBoxFor(m => m.Email, new { @class = "strip_form white light block fullwidth op-07", placeholder = "Email" })
            </div>
            <div class="form-group">
                <input type="submit" class="strip_button white light block fullwidth mt-30 colored-bg pt-18" value="Email Link" />
            </div>
        }
    </div>

</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
