@using Omadiko.WebApp.Models
@model LoginViewModel


@{
    Layout = "~/Views/Shared/LayOut/_CrexisLayout.cshtml";
}

<style>

    .form-group > input {
        background-color:#151;
        border:1px solid #f0f0f0;
    }

</style>

<!-- Login -->
<section id="fullscreen" class="background49Neo sdark-bg fullscreen table no-margin">
    <div class="login white v-center t-center">
        <!-- Form test -->

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form login_type t-center pl-10 pr-10 mini-text", role = "form" }))
        {
            <div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <!-- Header -->
            <h1 class="t-center light mb-20">
                Welcome
            </h1>
            <!-- Description -->
            <p class="mb-25 white op-08">
                Login for all our Services!
            </p>
            <!-- Username -->
            <div>
                @Html.LabelFor(m => m.UserName, new { @class = "hidden" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "strip_form white light block fullwidth op-07", placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(m => m.Password, new { @class = "hidden" })
                @Html.PasswordFor(m => m.Password, new { @class = "strip_form white light block fullwidth mt-15 op-07", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <!-- Submit -->
            <div class="form-group">
                <input type="submit" value="Log in" class="strip_button white light block fullwidth mt-30 colored-bg pt-18" />
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@

            <!-- Signup Text -->
            <h6 class="mt-23 gray-light">
                DON'T HAVE AN ACCOUNT?
            </h6>
            <!-- Signup Button -->

            <a href="/Account/Register" class="white">
                REGISTER
                <i class="fa fa-angle-double-right"></i>
            </a>
        }
        <!-- End Form -->
    </div>

</section>
<!-- End Shop -->
<!--Social Login-->
<div id="socialLoginForm">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</div>
<!--End Social Login-->
