@model Omadiko.WebApp.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/LayOut/_CrexisLayout.cshtml";
    ViewBag.Title = "Register";
}

<style>

    .strip_button {
        background-color: #151;
        border: 1px solid #f0f0f0;
    }
</style>

<section id="fullscreen" class="background49Neo sdark-bg fullscreen table no-margin">
    <div class="login white v-center t-center">
        <!-- Form -->
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form login_type t-center pl-10 pr-10 mini-text", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <h1 class="t-center light mb-20" style="margin-top:45px;">
                Create a new account
            </h1>

            <!-- Description -->
            <p class="mb-25 white op-08">
                Sign Up for our all Services!
            </p>
            <div>
                @Html.LabelFor(m => m.UserName, new { @class = "hidden" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "strip_form white light block fullwidth op-07", placeholder = "Username" })
            </div>
            <div>
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "hidden" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "strip_form white light block fullwidth op-07", placeholder = "Phone Number" })
            </div>
            <div>
                @Html.LabelFor(m => m.Email, new { @class = "hidden" })
                @Html.TextBoxFor(m => m.Email, new { @class = "strip_form white light block fullwidth op-07", placeholder = "Email" })
            </div>
            <div>
                @Html.LabelFor(m => m.Password, new { @class = "hidden" })
                @Html.PasswordFor(m => m.Password, new { @class = "strip_form white light block fullwidth mt-15 op-07", placeholder = "Password" })
            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "hidden" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "strip_form white light block fullwidth mt-15 op-07", placeholder = "Confirm Password" })
            </div>
            <div class="form-group">
                @Html.Label("User Role", new { @class = "hidden" })
                @Html.DropDownList("Roles", (SelectList)ViewBag.Name, "User Role", new { @class = "strip_form white light block fullwidth mt-15 op-07" })
            </div>
            <div>
                <button type="submit" id="submit" name="submit" class="strip_button white light block fullwidth mt-30 colored-bg pt-18">Register</button>
            </div>

        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






